/* Fixed side-nav, full height */
body {
  background-color: #1f2937;
  color: #e5e7eb;
}

.side-nav {
  width: 300px;
  height: 100%;
  top: 0px;
  position: fixed;
  font-family: Inconsolata, monospace;
  font-size: 2ex;
  border-right: 1px solid #414b5f;
}
.text-side-nav {
  display: block;
  font-size: 32px;
  padding: 16px 24px;
  margin: 8px 0px 40px;
  font-weight: bold;
}

.side-nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #e5e7eb;
  display: block;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.side-nav a:hover {
  text-shadow: 0px 0px 10px white;
}

/* img {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
} */

.main-page {
  top: 0px;
  font-family: Inconsolata, monospace;
  margin-left: 350px;
  margin-right: 300px;
}

.about-me {
  display: grid;
  grid-template-columns: 200px repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  align-items: center;
}

.about-me img {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
}

.item-1 {
  justify-self: center;
  align-self: start;
}

.contact-links {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto-fit, 1fr));
  gap: 50px;
  justify-items: center;
  align-items: center;
}

.contact-links img {
  max-width: 50px;
  max-height: 50px;
}

.contact-links a {
  grid-row: 1;
}

@media (max-width: 1300px) {
  .main-page {
    margin-right: 50px;
  }
  .about-me {
    grid-template-columns: 1fr;
  }
  .item-2 {
    grid-column: 1 / -1;
  }
}

@media (max-width: 600px) {
  .contact-links a {
    grid-row: auto;
  }
}
