@import "tailwindcss";

:root {
  --background: #815854;
  /* --foreground: #171717; */
  --font-family: Inconsolata, monospace;
  --text-color: #f9e8de;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: Inconsolata, monospace;
  margin: 30px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: 1px solid #f9ebde;
}

li {
  font-size: 14px;
}

p {
  font-size: 14px;
}

a {
  font-size: 16px;
  color: #f9ebde;
  display: block;
  cursor: pointer;
}

a:hover {
  text-shadow: 0px 0px 10px white;
}

.separator {
  margin-top: 8px;
  border-bottom: 1px dotted #f9ebde;
}

@media (max-width: 1300px) {
  .main-page {
    margin-right: 50px;
  }

  .about-me {
    grid-template-columns: 1fr;
  }


  .item-2 {
    grid-column: 1 / -1;
  }
}

.side-nav {
  /* width: 300px;
  height: 100%;
  top: 0px;
  position: fixed;
  font-family: Inconsolata, monospace;
  font-size: 2ex;
  border-right: 1px solid #f9ebde3a;

  .side-nav-header {
    display: block;
    font-size: 32px;
    padding: 16px 24px;
    font-weight: bold;
  }

  p {
    font-size: medium;
    font-weight: normal;
    margin-top: 0;
  }

  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #f9ebde;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  a:hover {
    text-shadow: 0px 0px 10px white;
  } */
}

/* img {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
} */

.main-page {
  /* top: 0px;
  font-family: Inconsolata, monospace;
  margin-left: 350px;
  margin-right: 300px;

  h1 {
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px solid #f9ebde;
  }

  .about-me {
    display: grid;
    grid-template-columns: 200px repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    align-items: center;
  }

  .about-me img {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
  }

  .item-1 {
    justify-self: center;
    align-self: start;
  }

  .experience {
    article {
      margin-left: 5px;
    }

    .date-place {
      display: flex;
      justify-content: space-between;

      img {
        width: 16px;
      }

      img[alt="calendar"] {
        padding-right: 5px;
      }

      img[alt="place"] {
        padding-left: 5px;
      }
    }
  }

  .education {
    article {
      margin-left: 5px;
    }

    .date {
      display: flex;

      img {
        width: 16px;
        padding-right: 5px;
      }
    }
  }

  .contact-links {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto-fit, 1fr));
    margin-top: 20px;
    gap: 50px;
    justify-items: center;
    align-items: center;

    img {
      max-width: 50px;
      max-height: 50px;
    }

    a {
      grid-row: 1;
    }
  } */
}