@import "tailwindcss";

:root {
  --background: #815854;
  /* --foreground: #171717; */
  --font-family: Inconsolata, monospace;
  --text-color: #f9e8de;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: Inconsolata, monospace;
  margin: 30px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: 1px solid #f9ebde;
}

li {
  font-size: 14px;
}

p {
  font-size: 14px;
}

a {
  font-size: 16px;
  color: #f9ebde;
  display: block;
  cursor: pointer;
}

a:hover {
  text-shadow: 0px 0px 10px white;
}

.separator {
  margin-top: 8px;
  border-bottom: 1px dotted #f9ebde;
}